---
layout: default
---

<div class="home">

{% assign pattern_categories = site.patterns | group_by: 'category' %}
{% for category in pattern_categories %}

  {% assign pattern_items = category.items | sort: 'order' %}

  {% for item in pattern_items %}
    {% if item.order == 0 %}
      <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
      <p>
        {{ item.excerpt | strip_html }}
        (<a href="{{ item.url }}">Read more</a>)
      </p>
    {% endif %}
  {% endfor %}

  <ul>
  {% for item in pattern_items %}
    {% if item.order != 0 %}
      <li>
        <strong><a href="{{ item.url }}">{{ item.title }}</a>:</strong>
        {{ item. excerpt | strip_html }}
      </li>
    {% endif %}
  {% endfor %}
  </ul>

{% endfor %}
</div>

</div>
