---
title: Patterns
layout: default
---

<header class="post-header">
  <h1 class="post-title">Infrastructure Design Pattern Catalogue</h1>
</header>

<div class="home">

<table>
{% assign pattern_categories = site.patterns | sort: 'order' | group_by: 'category' %}
{% for category in pattern_categories %}

  {% assign pattern_items = category.items | sort: 'order' %}

  {% for item in pattern_items %}
    {% if item.section == true %}
  <tr>
    <td colspan="2">
      <h2>
        <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.status == "review" %}
            &#x1F50D (Ready for review)
          {% elsif item.status == "todo" %}
            &#x1F477 (In progress, not ready for review)
          {% endif %}
      </h2>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        {{ item.excerpt | strip_html }}
        (<a href="{{ item.url }}">Read more</a>)
      </p>
  </td>
  </tr>
    {% endif %}
  {% endfor %}

  {% for item in pattern_items %}
    {% if item.section != true %}
  <tr>
    <td>
      <strong>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </strong>
    </td>
    <td>
      {{ item. excerpt | strip_html }}
          {% if item.status == "review" %}
            (&#x1F50D <em>Ready for review)</em>
          {% elsif item.status == "todo" %}
            (&#x1F477 <em>In progress, not ready for review)</em>
          {% endif %}
    </td>
  </tr>
    {% endif %}
  {% endfor %}

  </tr>
{% endfor %}
</table>
</div>

</div>
