---
title: Patterns
layout: default
---

<header class="post-header">
  <h1 class="post-title">Infrastructure Design Pattern Catalogue</h1>
</header>

<div class="home">

<h2>
  <a href="/patterns/">Overview of Infrastructure Patterns</a>
</h2>

<p>
  This catalogue describes useful approaches for designing infrastructure which is defined as code, and managed like software. Each pattern in the catalogue describes a recurring and useful solution, giving the context in which it may be useful, and some advice on implementation.
  (<a href="/patterns/">Read more</a>)
</p>

<table>

{% assign pattern_categories = site.patterns | sort: 'order' | group_by: 'category' %}
{% for category in pattern_categories %}

  {% assign pattern_items = category.items | sort: 'order' %}

  {% for item in pattern_items %}
    {% if item.section == true %}
  <tr>
    <td colspan="2">
      <h2>
        <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.status == "review" %}
            &#x1F50D (Ready for review)
          {% elsif item.status == "todo" %}
            &#x1F477 (In progress, not ready for review)
          {% endif %}
      </h2>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        {{ item.excerpt | strip_html }}
        (<a href="{{ item.url }}">Read more</a>)
      </p>
  </td>
  </tr>
    {% endif %}
  {% endfor %}

  {% for item in pattern_items %}
    {% if item.layout == "pattern" %}
  <tr>
    <td>
      <strong>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </strong>
    </td>
    <td>
      {{ item. excerpt | strip_html }}
          {% if item.status == "review" %}
            (&#x1F50D <em>Ready for review)</em>
          {% elsif item.status == "todo" %}
            (&#x1F477 <em>In progress, not ready for review)</em>
          {% endif %}
    </td>
  </tr>
    {% endif %}
  {% endfor %}

  </tr>
{% endfor %}
</table>
</div>

