<div class="col-sm-2">
  <div class="sidebar-module">

  <p>
  <a class="promolink"
    onclick="trackOutboundLink('http://shop.oreilly.com/product/0636920039297.do'); return false;"
    href="http://shop.oreilly.com/product/0636920039297.do">Pre-order</a> the book from the O'Reilly Shop now. We will soon have Early Release editions, so you can read the chapters that I've finished, and receive updates with new and improved content.
  </p>

  </div>

{% include Announcement_Signup.html %}
  
</div>

