<div class="sidebar-module">
  <h4>About the book</h4>
  <a href="/book/"><img title="Infrastructure as Code book cover" src="/images/infrastructure_as_code_cover_thumb.png" alt="Book cover"/></a>
  <p>
  <span class="booktitle">Infrastructure as Code</span> by Kief Morris (O'Reilly Publishing, June 2016).
  </p>
  <p>
    <h4>Buy the book!</h4>
    <li><a class="promolink" href="http://shop.oreilly.com/product/0636920039297.do">O'Reilly Shop</a></li>
    <li><a class="promolink" href="https://www.amazon.com/gp/product/1491924357/?tag=kiefcom07-20">Amazon US (print)</a></li>
    <li><a class="promolink" href="https://www.amazon.com/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">Amazon US (kindle)</a></li>
    <li><a class="promolink" href="https://www.amazon.co.uk/gp/product/1491924357/?tag=kiefcom07-20">Amazon UK (print)</a></li>
    <li><a class="promolink" href="https://www.amazon.co.uk/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">Amazon UK (kindle)</a></li>
  </p>
</div>
