<div class="sidebar-module">

  <h4>Read the 3rd edition early release</h4>

  <a href="/book"><img title="Infrastructure as Code 3rd edition early release book cover"
    src="/images/infrastructure_as_code_3ed_early_small.png"
    alt="Third edition early release book cover"
    width="180" height="263"
  /></a>

  <li>Read the 3rd edition early release online on the
      <a  class="promolink"
      onclick="captureOutboundLink('safari');"
      href="https://www.oreilly.com/library/view/infrastructure-as-code/9781098114664/"
      >O'Reilly Learning Platform</a>
  </li>

</div>
<div class="sidebar-module">

  <h4>Get the 2nd edition book:</h4>

  <p><span class="booktitle"><a href="/book">Infrastructure as Code (second edition)</a></span> by Kief Morris (O'Reilly Publishing, December 2020).</p>

    <li>Amazon US
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.com print');"
        href="https://www.amazon.com/Infrastructure-Code-Dynamic-Systems-Cloud/dp/1098114671/?tag=kiefcom07-20"
        >print</a> ]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.com kindle');"
        href="https://www.amazon.com/Infrastructure-Code-Dynamic-Systems-Cloud-ebook/dp/B08Q35FM4B/?tag=kiefcom07-20"
        >kindle</a>]
    </li>Amazon UK
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.co.uk print');"
        href="https://www.amazon.co.uk/Infrastructure-Code-Dynamic-Systems-Cloud/dp/1098114671/?tag=kiefcom07-20"
        >print</a>]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.co.uk kindle');"
        href="https://www.amazon.co.uk/Infrastructure-Code-Dynamic-Systems-Cloud-ebook/dp/B08Q35FM4B?tag=kiefcom07-20"
        >kindle</a>]
    </li>
    <li>Amazon India
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.in print');"
        href="https://www.amazon.in/Infrastructure-Code-2E-Dynamic-Systems/dp/1098114671/?tag=kiefcom07-20"
        >print</a>]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.in kindle');"
        href="https://www.amazon.in/Infrastructure-Code-Dynamic-Systems-Cloud-ebook/dp/B08Q35FM4B/?tag=kiefcom07-20"
        >kindle</a>]
    </li>
    <li>Online
      [<a  class="promolink"
      onclick="captureOutboundLink('safari');"
      href="https://www.oreilly.com/library/view/infrastructure-as-code/9781098114664/"
      >O'Reilly Learning Platform</a>]
    </li>
</div>
