<div class="sidebar-module">
  <h4>I wrote this book:</h4>
  <a href="/book/"><img title="Infrastructure as Code book cover" src="/images/infrastructure_as_code_cover_thumb.png" alt="Book cover"/></a>
  <p><span class="booktitle">Infrastructure as Code</span> by Kief Morris (O'Reilly Publishing, June 2016).</p>

  <h4>Where to get the book:</h4>
  <li>Amazon US
    [<a class="promolink" href="https://www.amazon.com/gp/product/1491924357/?tag=kiefcom07-20">print</a> ]
    [<a class="promolink" href="https://www.amazon.com/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">kindle</a>]
  </li>
  <li>Amazon UK 
    [<a class="promolink" href="https://www.amazon.co.uk/gp/product/1491924357/?tag=kiefcom07-20">print</a>]
    [<a class="promolink" href="https://www.amazon.co.uk/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">kindle</a>]
  </li>
  <li>Amazon India 
    [<a class="promolink" href="https://www.amazon.in/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/?tag=kiefcom07-20">kindle</a>]
    [<a class="promolink" href="https://www.amazon.in/Infrastructure-As-Code-Managing-Servers/dp/9352133811/?tag=kiefcom07-20">print</a>]
  </li>
  <li>DRM free
    [<a href="https://www.ebooks.com/2606646/infrastructure-as-code/morris-kief/">eBooks.com</a>]
  </li>
  <li>Online
    [<a href="https://www.oreilly.com/library/view/infrastructure-as-code/9781491924334/">Safari</a>]
  </li>
</div>
