<div class="col-sm-2">
  <div class="sidebar-module">


    <p><span class="booktitle">Infrastructure as Code (second edition)</span> by Kief Morris (O'Reilly Publishing, December 2020).</p>

    <h4>Get the book:</h4>

    <li>Amazon US
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.com print');"
        href="https://www.amazon.com/Infrastructure-Code-Dynamic-Systems-Cloud/dp/1098114671/?tag=kiefcom07-20"
        >print</a> ]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.com kindle');"
        href="https://www.amazon.com/Infrastructure-Code-Dynamic-Systems-Cloud-ebook/dp/B08Q35FM4B/?tag=kiefcom07-20"
        >kindle</a>]
    </li>
    <li>Amazon UK 
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.co.uk print');"
        href="https://www.amazon.co.uk/Infrastructure-Code-Dynamic-Systems-Cloud/dp/1098114671/?tag=kiefcom07-20"
        >print</a>]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.co.uk kindle');"
        href="https://www.amazon.co.uk/Infrastructure-Code-Dynamic-Systems-Cloud-ebook/dp/B08Q35FM4B?tag=kiefcom07-20"
        >kindle</a>]
    </li>
    <li>Amazon India 
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.in kindle');"
        href="https://www.amazon.in/Infrastructure-As-Code-Managing-Servers/dp/9352133811/?tag=kiefcom07-20"
        >print</a>]
      [<a class="promolink"
        onclick="captureOutboundLink('amazon.in print');"
        href="https://www.amazon.in/Infrastructure-Code-2E-Dynamic-Systems/dp/1098114671/?tag=kiefcom07-20"
        >kindle</a>]
    </li>
    <!--
    <li>DRM free
      [<a class="promolink"
      onclick="captureOutboundLink('ebooks.com');"
      href="https://www.ebooks.com/2606646/infrastructure-as-code/morris-kief/"
      >eBooks.com</a>]
    </li>
    -->
    <li>Online
      [<a  class="promolink"
      onclick="captureOutboundLink('safari');"
      href="https://www.oreilly.com/library/view/infrastructure-as-code/9781098114664/"
      >O'Reilly Learning Platform</a>]
    </li>

  </div>

</div>

