<div class="col-sm-2">
  <div class="sidebar-module">

  <p>
    <h4>Get the book</h4>
    <li><a class="promolink" href="http://shop.oreilly.com/product/0636920039297.do">O'Reilly Shop</a></li>
    <li><a class="promolink" href="https://www.amazon.com/gp/product/1491924357/?tag=kiefcom07-20">Amazon US (print)</a></li>
    <li><a class="promolink" href="https://www.amazon.com/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">Amazon US (kindle)</a></li>
    <li><a class="promolink" href="https://www.amazon.co.uk/gp/product/1491924357/?tag=kiefcom07-20">Amazon UK (print)</a></li>
    <li><a class="promolink" href="https://www.amazon.co.uk/Infrastructure-Code-Managing-Servers-Cloud-ebook/dp/B01GUG9ZNU/ref=mt_kindle?tag=kiefcom07-20">Amazon UK (kindle)</a></li>
  </p>
  </div>
  
</div>

