

{% if page.category != "" %}

<div class="sidebar-module">
  <h4>>>{{ page.category }}<<</h4>

<p>-- site: {{ site }}</p>
<p>-- site.collections:  {{ site.collections }}</p>
<p>-- site.collections.patterns:  {{ site.collections.patterns }}</p>
<p>-- site.patterns:   site.patterns </p>

  {% assign category = site.patterns[page.category] %}

category: {{ category }}

| sort: 'order'

  {% assign pattern_items = category.items  %}

  {% for item in pattern_items %}
    {% if item.section == true %}
      <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
      <p>
        {{ item.excerpt | strip_html }}
        (<a href="{{ item.url }}">Read more</a>)
      </p>
    {% endif %}
  {% endfor %}

  <ul>
  {% for item in pattern_items %}
    {% if item.section != true %}
      <li>
        <strong><a href="{{ item.url }}">{{ item.title }}</a>:</strong>
        {{ item. excerpt | strip_html }}
      </li>
    {% endif %}
  {% endfor %}
  </ul>

</div>
{% endif %}

