---
layout: default
---
<div class="pattern">

  <header class="pattern-header">
    <h1 class="pattern-title">{{ page.title }}</h1>
    <p class="post-meta"><a href="/patterns.html">Infrastructure Patterns</a></p>
    <p class="post-meta">
      {% if page.status == "review" %}
        &#x1F50D (Ready for review)
      {% elsif page.status == "todo" %}
        &#x1F477 (In progress, not ready for review)
      {% endif %}
    </p>
  </header>

  <article class="pattern-content">
    {{ content }}
  </article>
  <hr />
</div>


{% include page_pagination.html %}

